*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background:black;

}

.contenedor{
    width:80%;
    margin:auto;
    background:black;
}

header{
    height:400px;
    background-image:url("../img/portada.jpg");
    background-position:center;
    background-size:cover;
    border-radius:0 0 20px 20px;
}

main{
    background:black;
    padding:30px;
    border-radius:20px;
    margin-top:-30px;
}

main .foto{
    width:180px;
    height:180px;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
    border:6px solid red;
}

main .foto img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.texto{
    text-align:center;
    margin-top:20px;
}

.texto h2{
    color:red;
    margin-bottom:20px;
    font-size:40px;
}

.texto p{
    font-size:18px;
    line-height:30px;
}

.galeria{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.galeria img{
    width:250px;
    border-radius:20px;
}

footer{
    background:red;
    text-align:center;
    padding:25px;
    color:white;
    margin-top:20px;
    border-radius:20px 20px 0 0;
}
